---
import { Tabs, TabItem, Steps } from '@astrojs/starlight/components';
import NxCommands from './nx-commands.astro';
const { namespace = '@aws/nx-plugin', generator, requiredParameters = {}, noInteractive = false } = Astro.props;
const cliCommand = `g ${namespace}:${generator}${Object.keys(requiredParameters).length !== 0 ? ` ${Object.entries(requiredParameters).map(([k,v]) => `--${k}=${v}`).join(' ')}` : ''}${noInteractive ? ' --no-interactive' : ''}`;
---

<Tabs syncKey="generator-usage">
  <TabItem label="VSCode">
    <Steps>
      <ol>
        <li>Install the <a href="https://marketplace.visualstudio.com/items?itemName=nrwl.angular-console">Nx Console VSCode Plugin</a> if you haven't already</li>
        <li>Open the Nx Console in VSCode</li>
        <li>Click <code>Generate (UI)</code> in the "Common Nx Commands" section</li>
        <li>Search for <code>{namespace} - {generator}</code></li>
        <li>Fill in the required parameters<ul>{Object.keys(requiredParameters).length !== 0 && Object.entries(requiredParameters).map(([k,v]) => <li><b>{k}:</b> {v}</li>)}</ul></li>
        <li>Click <code>Generate</code></li>
      </ol>
    </Steps>
  </TabItem>
  <TabItem label="CLI">
    <NxCommands commands={[cliCommand]} />
    <details>
      <summary>You can also perform a dry-run to see what files would be changed</summary>
      <NxCommands commands={[`${cliCommand} --dry-run`]} />
    </details>
  </TabItem>
</Tabs>
